<?php
    // show error reporting
    error_reporting(E_ALL);
     
    // set default time-zone
    date_default_timezone_set('Asia/Jakarta');
    
    define('SALT', '');
     
    // variables used for jwt
    $key = ""; // candidate bearer variable used for auth
    $iss = "";
    $aud = "";
    $iat = 0;
    $nbf = 0;
    
    // config database
    $host = '';
    $login = '';
    $pass = '';
    $db = '';
    $port = '';
